body {
    background-color: aquamarine;
    cursor: -webkit-grab;
    font-size: 40px;
    font-family: monospace;
}

td {
    font-size: 60px;
    width: 5cm;
    height: 5cm;
    text-align: center;
}

.button {
    border: none;
    color: rgb(35, 181, 54);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    visibility: hidden;
  }